# Node
node_modules/
npm-debug.log
package-lock.json

# Environment
.env
.env.*
!.env.example

# Docker
.docker/

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars

# IDE
.vscode/
.idea/
*.swp

# Logs
logs/
*.log

# Build
dist/
build/

# Secrets
secrets.yml